* {
  font-family: "Syne", sans-serif;
}

.background-img {
  background: url("../img/background-img1.jpg") no-repeat center center;
  background-size: cover;
}

.forms {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(1px);
}


.bg-color {
  background-color: rgb(16, 18, 17, 0.8);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.tg {
  top: 20%;
  right: 0;
}

.login-btn {
  background-color: rgb(16, 18, 17) !important;
  border-color: transparent !important;
  border: none;
  outline: none;
}