* {
    /* outline: 2px solid red; */
    /* font-family: "Syne", sans-serif; */
    font-family: "Poppins", sans-serif;
}

.main {
    min-height: 100vh;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.bs {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color: #f7f7f7;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}

.btn-color {
    background: linear-gradient(135deg, #71b7e6, #9b59b6) !important;
    border: none !important;
    outline: none !important;
}

.btn-color:hover {
    background: linear-gradient(135deg, #172c39, #ac05ef) !important;
    /* background: linear-gradient(135deg, #71b7e6, #9b59b6) !important; */
    transition: 0.5s all ease-in;
    border: none !important;
    outline: none !important;
}

label {
    font-weight: 500 !important;
}

.head::before {
    content: "";
    position: absolute;
    bottom: -10px;
    border-radius: 10px;
    width: 15%;
    height: 4px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

/* For Input Label  */
.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-form-control-bg);
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(253, 0, 0, 0.25);
}

.line {
    border-color: none !important;
    box-shadow: 0 0 0 0.25rem rgba(253, 0, 0, 0.5) !important;
    animation: shake 0.2s 2;
}

@keyframes shake {
    25% {
        translate: 6px 0;
    }

    50% {
        translate: -6px 0;
    }

    75% {
        translate: 6px 0;
    }
}

.ts1 {}